<%- include("../includes/header.ejs", {title:"Add New Account"}); %>
    <h1>Add New Account</h1>
    <form action="/account/insert" method="get">

        First Name: <input id="Fname" name="Fname" type="text" />
        <br/>
        <br />
        Last Name: <input id="Lname" name="Lname" type="text" />
        <br/>
        <br />
        Email: <input id="email" name="email" type="text" />
        <br/>
        <br />
        School:
        <br />
        <select id="school_id" name="school_id" multiple="multiple">
            <% for (var i = 0; i < school.length-1; i++) { %>
                <option value="<%= school[i].school_id %>"><%= school[i].school_Name %></option>
            <% } %>
        </select>
        <br/>
        <br />
        Companies:
        <br/>
        <select id="company_id" name="company_id" multiple="multiple">
            <% for (var i = 0; i < company.length; i++) { %>
                <option value="<%= company[i].company_id %>"><%= company[i].company_name %></option>
            <% } %>
        </select>
        <br/>
        <br />
        Skills:
        <br/>
        <select id="skill_id" name="skill_id" multiple="multiple">
            <% for (var i = 0; i < skill.length; i++) { %>
                <option value="<%= skill[i].skill_id %>"><%= skill[i].skill_name %></option>
            <% } %>
        </select>
        <br />
        <br/>
        <script type="text/javascript">
            $(document).ready(function() {
                $('select').multiselect();
            });
        </script>
        <input type="submit" />

    </form>
<br />
<br />
<a href="/account/all"><< back</a>


<%- include("../includes/footer.ejs"); %>