<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
<h1>Update Resume: <%= resume[0].resume_name %> </h1>


<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= resume[0].resume_name %> was successfully saved. %>
    </div>
</div>


<form action="/resume/update" method="post">
    <input type="hidden" id="resume_id" name="resume_id" value="<%= resume[0].resume_id %>">
    Resume Name: <input id="resume_name" name="resume_name" type="text" value="<%= resume[0].resume_name %>" />
    <br />
    <br />
    Schools:
    <br />
    <br />
    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) { %>
        <option value="<%= school[i].school_id %>" > <%= school[i].school_Name%> </option>
        <% } %>
    </select>
    <br />
    <br />
    Companies:
    <br />
    <br />
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();
        });
    </script>
    <select id="company_id" name="company_id" multiple="multiple">
        <% for(var a=0; company.length > a; a++ ) { %>
        <option value="<%= company[a].company_id %>" > <%= company[a].company_name%> </option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    <br />
    <br />
    skill:
    <br />
    <br />
    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%= skill[i].skill_id %>" > <%= skill[i].skill_name%> </option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>
    <br />
    <br />
    <input type="submit" />

</form>
<footer>

</footer>
<%- include("../includes/footer.ejs"); %>